# Loki & Promtail Configurations
LOKI_PUSH_URL=http://loki:3100/loki/api/v1/push
PROMTAIL_BASIC_AUTH_USERNAME=admin
PROMTAIL_BASIC_AUTH_PASSWORD=admin

# Grafana Configurations
GF_SERVER_ROOT_URL=http://localhost:4000/grafana/
GF_SERVER_SERVE_FROM_SUB_PATH=true

# Storage Settings (filesystem, s3, or gcs)
LOKI_OBJECT_STORE=filesystem

# Optional S3 settings (uncomment if using s3)
# S3_BUCKET_NAME=your-bucket-name
# S3_ENDPOINT=s3.amazonaws.com
# S3_REGION=us-east-1
# AWS_ACCESS_KEY_ID=your-access-key
# AWS_SECRET_ACCESS_KEY=your-secret-key
# S3_INSECURE=false

# Optional GCS settings (uncomment if using gcs)
# GCS_BUCKET_NAME=your-gcs-bucket-name
# GCS_SERVICE_ACCOUNT=your-service-account-json-content
